body {
    padding: 1rem;
    background-image: url(background1.jpg);
    background-size: cover;
    background-position: center top;   
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}

.plum-div {
  background-color: #DDA0DD;
}

.lavender-blush-div {
  background-color: #FFF0F5;
}
