body {
    padding: 1rem;
}

.spacer {
    height: 3rem;
}

.bibbase_amazon {
    display: none;
}

.plum-div {
  background-color: #DDA0DD;
}

.lavender-blush-div {
  background-color: #FFF0F5;
}

hr {
  background-color: black;
}
